body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Times New Roman", serif;
    background-image: url('assets/chutibackground.jpg');
    background-size: cover;
    background-position: center;
}

/* CONTAINER */
.container {
    width: 80%;
    height: 80%;
    border: 4px solid transparent;
    position: relative;
    padding: 80px;
    box-sizing: border-box;
}

/* HEADINGS */
h1 {
    font-size: 80px;
    font-weight: normal;
    color: #b47eb3;
}

.request {
    font-size: 80px;
    font-weight: bold;
    color: #ffffff;
    
    

}

/* YES BUTTON  */
.yes-btn {
    position: static;
    top: 40%;
    left: 20%;
    width: 300px;
    height: 120px;
    font-size: 100px;
    border: 3px solid #d7ba89;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b47eb3;
    text-decoration: none; 
}

/* YES HOVER GIF */
.yes-btn:hover {
    background-image: url('assets/yes.gif'); 
    background-size: contain; 
    background-position: center;
    color: white;             
    border: none;             
}

/* NO BUTTON  */
.no-btn {
    position: relative;
    top: 10%;
    left: 0%;
    width: 120px;
    height: 60px;
    font-size: 45px;
    border: 3px solid #d7ba89;
    background: transparent;
    cursor: pointer;
    color:#b47eb3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease; 
    transition: transform 0.8s ease-in-out, background-image 0.3s ease;
}

/* NO HOVER GIF */
.no-btn:hover {
    transform: translate(1200px, -500px);

    background-image: url('assets/dont.gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    color: white;
    border: 3px solid transparent;
}
